<section class="max-w-screen-xl mx-auto">
  <h2 class="font-bold">Display names Pipe</h2>
  <p>{{'en-US' | displayNames: 'language' | async}}</p>
  <p>{{'US' | displayNames: 'region' | async}}</p>

  <h2 class="font-bold mt-2">List Format</h2>
  <p>{{['en', 'fr'] | listFormat | async }}</p>

  <h2 class="font-bold mt-2">Relative time format</h2>
  <p>{{ 1 | relativeTimeFormat:'day' | async }}</p>
  <p>{{ -1 | relativeTimeFormat:'day' | async }}</p>

  <h2 class="font-bold mt-2">Plural Rules</h2>
  <p>{{18 | pluralRules | async }}</p>

  <h2 class="font-bold mt-2">Canonical Locales</h2>
  <p>{{['en-md', 'ro-md'] | canonicalLocales | async | json}}</p>

  <h2 class="font-bold mt-2">Supported values</h2>
  <p>{{'currency' | supportedValuesOf | async | slice: 0: 10 | json}}</p>
</section>
